body .container {
  max-width: 1226px; }
  body .container .row .col-6 .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: "|"; }
  body .container .row .col-6 .breadcrumb .breadcrumb-item a {
    color: #616161;
    text-decoration: none;
    font-size: 12px; }
    body .container .row .col-6 .breadcrumb .breadcrumb-item a h5 {
      font-size: 18px; }
    body .container .row .col-6 .breadcrumb .breadcrumb-item a:hover {
      color: #ff6700; }
  body .container .row .col-6 .breadcrumb.float-right .breadcrumb-item + .breadcrumb-item::before {
    content: "|";
    color: #eee; }
  body .container .row .col-6 .breadcrumb.float-right .breadcrumb-item a {
    font-size: 14px;
    color: #616161;
    text-decoration: none; }
    body .container .row .col-6 .breadcrumb.float-right .breadcrumb-item a:hover {
      color: #ff6700; }
  body .container .row .col-6 .breadcrumb.float-right button {
    font-size: 12px;
    cursor: pointer;
    border: none;
    background: #ff6700;
    color: #fff;
    outline: none; }
    body .container .row .col-6 .breadcrumb.float-right button:hover {
      background: #FE5500; }

body .row .carousel .position-relative .d-block {
  position: absolute;
  z-index: 1;
  top: 20px;
  width: 100%;
  opacity: 0;
  transition: 2s; }
  body .row .carousel .position-relative .d-block span {
    font-size: 2.5rem;
    color: #fff; }
  body .row .carousel .position-relative .d-block h1 {
    font-size: 6rem;
    color: #fff; }
  body .row .carousel .position-relative .d-block p {
    font-size: 2rem;
    color: #ecb41f; }

body .row .carousel .position-relative .in {
  opacity: 1;
  top: -10px; }

body .row .carousel .carousel-inner .active {
  transition: .5s linear;
  opacity: 1; }

body .row .carousel ul li {
  transform: 0.5s linear; }
  body .row .carousel ul li:hover {
    cursor: pointer;
    background: #eee; }

body .container {
  max-width: 1226px; }
  body .container .d-flex {
    flex-wrap: wrap; }
    body .container .d-flex div {
      width: 20%;
      color: #848484;
      font-size: 0.7rem; }
      body .container .d-flex div h5 {
        font-weight: 600;
        font-size: 1.1rem;
        color: #000; }

body .container-fluid .position-relative {
  background: url("../img/ad/cpu.jpg");
  color: #eee;
  font-size: 3rem; }
  body .container-fluid .position-relative .py-5 {
    position: relative;
    top: 50px;
    opacity: 0;
    transition: 1.8s;
    padding-left: 25%; }
  body .container-fluid .position-relative .in {
    opacity: 1;
    top: 10px; }

body .cpu {
  padding-left: 25%;
  padding-right: 25%;
  transition: 3s; }
  body .cpu h3 {
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: 700;
    position: relative;
    top: 30px;
    opacity: 0;
    transition: 1.8s; }
  body .cpu h5 {
    font-size: 1rem;
    position: relative;
    top: 30px;
    opacity: 0;
    transition: 1.8s; }
  body .cpu .in {
    opacity: 1;
    top: 0px; }
  body .cpu .clearfix {
    position: relative;
    top: 40px;
    opacity: 0;
    transition: 1.8s; }
    body .cpu .clearfix .box {
      width: 245px;
      float: left;
      height: 120px;
      border: 1px solid #b2b2b2;
      text-align: center; }
      body .cpu .clearfix .box .h5 {
        font-weight: 700; }
        body .cpu .clearfix .box .h5 p {
          margin-bottom: 0.1rem; }
  body .cpu .in {
    opacity: 1;
    top: 0px; }
  body .cpu .span {
    margin-top: 1rem;
    color: #8d8d8d;
    font-size: 0.75rem; }
  body .cpu .img {
    background: #000 url("../img/ad/play.jpg") no-repeat;
    background-size: cover;
    height: 465px; }
