body a {
  color: #b0b0b0;
  font-size: 12px; }
  body a:hover {
    text-decoration: none;
    color: #eee; }

body header {
  color: #b0b0b0;
  line-height: 40px; }
  body header .header {
    background: #333; }
    body header .header .container {
      max-width: 1226px; }
      body header .header .container div .breadcrumb {
        background: #333; }
        body header .header .container div .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
          content: "|";
          color: #424242; }
        body header .header .container div .breadcrumb .shopping a {
          background: #ff6700 url("../img/index/shop_car.png") no-repeat 15px 8px;
          color: #fff; }
          body header .header .container div .breadcrumb .shopping a:hover {
            background: #fff url("../img/index/shop_car_h.png") no-repeat 15px 8px;
            color: #ff6700; }
  body header .container {
    max-width: 1226px; }
    body header .container .navbar .col-1 img {
      background-size: 55px;
      width: 55px;
      height: 55px; }
    body header .container .navbar .col-8 li:first-child {
      opacity: 0; }
    body header .container .navbar .col-8 li {
      display: block; }
      body header .container .navbar .col-8 li:hover {
        display: none; }
      body header .container .navbar .col-8 li a {
        color: #333;
        font-size: 16px; }
        body header .container .navbar .col-8 li a:hover {
          color: #ff6700; }
    body header .container .navbar .col-3 input {
      border: 1px solid #e0e0e0;
      outline: none; }
      body header .container .navbar .col-3 input:hover {
        border: 1px solid #ff6700; }
    body header .container .navbar .col-3 a {
      border: 1px solid #e0e0e0;
      padding: 14px 13px 12px 13px; }
      body header .container .navbar .col-3 a:hover {
        border: 1px solid #ff6700;
        background: #ff6700;
        background-image: url("..img/index/search_h.png"); }
