body .container {
  max-width: 1226px; }
  body .container .col-6 .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: "|"; }
  body .container .col-6 .breadcrumb .breadcrumb-item a {
    color: #616161;
    text-decoration: none;
    font-size: 12px; }
    body .container .col-6 .breadcrumb .breadcrumb-item a h5 {
      font-size: 18px; }
    body .container .col-6 .breadcrumb .breadcrumb-item a:hover {
      color: #ff6700; }
  body .container .col-6 .breadcrumb button {
    background: #ff6700;
    color: #fff; }
  body .container .col-6 .breadcrumb.float-right .breadcrumb-item + .breadcrumb-item::before {
    content: "|";
    color: #eee; }
  body .container .col-6 .breadcrumb.float-right .breadcrumb-item a {
    font-size: 14px;
    color: #616161;
    text-decoration: none; }
    body .container .col-6 .breadcrumb.float-right .breadcrumb-item a:hover {
      color: body .container .col-6 .breadcrumb.float-right .breadcrumb-item a:hover xm-orange; }
  body .container .col-6 .breadcrumb.float-right button {
    font-size: 12px;
    background: #ff6700;
    color: #fff; }
