@import "mycolor";
body{
	.container{
		max-width:1226px;
		.row{
			.col-12{
				.carousel{
					.carousel-control-prev{
							width:3%;
							height:15%;
							top:40%;
							left: 17%;
							
							&:hover{
								background: #757575;
								border-radius: 5%;
							}
						}
					.carousel-control-next{
						width:3%;
						height:15%;
						top:40%;
						&:hover{
							background: #757575;
							border-radius: 5%;
						}
					}
					.carousel-indicators {
						left:60%;
						li{
							width: 0.8rem;
							height: 0.8rem;
							border-radius: 50%;
							border:3px solid #bbb;
							background: #666;
							&:hover{
								border:3px solid #666;
								background: rgba(255,255,255,0.4);
							}
						}
					}
				}
				.col-2{
					position: absolute;
					background: rgba(0,0,0,0.6);
					height: 460px;
					top:0px;
					left:0px;
				a{
					background: url("../img/index/右箭头.png") no-repeat 170px 12px;
					display:block;
					color: #fff;
					text-decoration: none;
					font-size:1rem;
						&:hover{
							background: $xm-orange url("../img/index/右箭头.png") no-repeat 170px 12px;
						}
					}
				}
			}
		}
		
		
		.col-2.mt-3{
			background: #5f5750;
			.row{
				.col-4:nth-child(1){
					background: url('../img/index/手机到手机.png') no-repeat 23px 25px;
					&:hover{
						background-image: url('../img/index/手机到手机_h.png');
					}
				}
				.col-4:nth-child(2){
					background: url('../img/index/礼包.png') no-repeat 23px 25px;
					&:hover{
						background-image: url('../img/index/礼包_h.png');
					}
				}
				.col-4:nth-child(3){
					background: url('../img/index/小米商城F码.png') no-repeat 16px 20px;
					&:hover{
						background-image: url('../img/index/小米商城F码_h.png');
					}
				}
				.col-4:nth-child(4){
					background: url('../img/index/拦截手机卡.png') no-repeat 22px 28px;
					&:hover{
						background-image: url('../img/index/拦截手机卡_h.png');
					}
				}
				.col-4:nth-child(5){
					background: url('../img/index/回收.png') no-repeat 23px 27px;
					&:hover{
						background-image: url('../img/index/回收_h.png');
					}
				}
				.col-4:nth-child(6){
					background: url('../img/index/银行卡.png') no-repeat 22px 27px;
					&:hover{
						background-image: url('../img/index/银行卡_h.png');
					}
				}
				.col-4{
					font-size:12px;
					color: #dddad7;
					a{
						display: flex;
						justify-content: center;
						align-items: flex-end;
						color: #D6D4D3;
						height: 75px;
						&:hover{
							text-decoration: none;
							color: #fff;
						}
					}
				}
			}
		}
		.col-12{
			background:  url("../img/index/long1.jpg")
		}
	}
	section{
		background-color: #f5f5f5;
		.container{
			max-width:1226px;
			font-size:12px;
			color:#b0b0b0;
			a{
				color:#333333;
				text-decoration: none;
			}
			a.float-right{
				font-size: 1rem;
				position: relative;
				transition:0.3s linear;
				z-index: 99;
				div{
					position: absolute;
					z-index: 0;
					border-radius:50%;
					right: -4px;
					top: 3px;
					width: 20px;
					height: 20px;
					transition: 0.3s linear;
					background-color: #b0b0b0;
					background-image: url("../img/index/箭头.png");
					background-position: 5px 4px;
					background-repeat: no-repeat;
				}
				&:hover{
					color:$xm-orange;
					div{
						background-color: $xm-orange;
					}
				}
			}
			.row{
				.col-10{
					.col-12{
						.col-3{
							max-width: 24%;
							background: #fff;
							flex-grow:0.5;
							transition: 0.4s linear;
							&:hover{
								top:-3px;
								box-shadow:0px -2px 32px 1px #aaa;
							}
							
							.num:first-of-type{
								color: #e00;
							}
							.num+.num{
								text-decoration: line-through;
							}
						}
					}
				}
			}
		}
	}
}