@import "mycolor";
body{
	.container{
		max-width:1226px;
		.row{
			
			.col-6{
				.breadcrumb{
					.breadcrumb-item + .breadcrumb-item::before{
						content:"|";
					}
					.breadcrumb-item{
						a{
							color:#616161;
							text-decoration:none;
							font-size:12px;
							h5{
								font-size: 18px;
							}
							&:hover{
								color:$xm-orange;
							}
						}
					}
				}
				.breadcrumb.float-right{
					.breadcrumb-item + .breadcrumb-item::before{
						content:"|";
						color:#eee;
					}
					.breadcrumb-item{
						a{
							font-size:14px;
							color:#616161;
							text-decoration:none;
							&:hover{
								color:$xm-orange;
							}
						}
					}
					button{
						font-size:12px;
						cursor:pointer;
						border: none;
						background: $xm-orange;
						color:#fff;
						outline: none;
						&:hover{
							background: #FE5500;
						}
					}
				}
			}
		}
	}
	.row{
		.carousel{
			.position-relative{
				div{
					position:absolute;
					z-index: 1;
					top:20px;
					width:100%;
					transition: opacity 0.8s,transform 0.8s;
					span{
						font-size: 2.5rem;
						color: #fff;
					}
					h1{
						font-size: 6rem;
						color: #fff;
					}
					p{
						font-size: 2rem;
						color:#ecb41f;
					}
				}
			}
			.carousel-inner{
				.active{
					transition: .5s linear;
					opacity: 1;
					&:hover{
					opacity:0.5;
					}
				}
			}
			
			ul{
				li{
					transform: 0.5s linear;
					
					&:hover{
						cursor: pointer;
						background: #eee;
					}
				}
			}
		}
		}
	.container{
		max-width:1226px;
		.d-flex{
				flex-wrap:wrap;
			div{
				width:20%;
				color: #848484;
				font-size:0.7rem;
				h5{
					font-weight: 600;
					font-size: 1.1rem;
					color:#000;
				}
			}
		}
	}
	.container-fluid{
		
		.position-relative{
			background: url("../img/pro/cpu.jpg");
			color: #eee;
			font-size:3rem;
			.py-5{
				padding-left:25%;
				}
			}
			
		}
		.cpu{
			padding-left: 25%;
			padding-right: 25%;
			h3{
				font-size:2rem;
				margin-top: 3rem;
				margin-bottom:3rem;
				font-weight: 700;
			}
			h5{
				font-size:1rem;
			}
			.clearfix{
				.box{
					width: 245px;
					float:left;
					height: 120px;
					border: 1px solid #b2b2b2;	
					text-align: center;
					.h5{
						font-weight: 700;
						p{
							margin-bottom: 0.1rem;
						}
					}
				}
			}
				.span{
					margin-top: 1rem;
					color:#8d8d8d;
					font-size:0.75rem;
				}
				.img{
					background:#000 url("../img/pro/play.jpg") no-repeat;
					background-size: cover;
					height: 465px;
				}
		}
}