@import "mycolor";
body{
	.container{
		max-width:1226px;
		.col-6{
			.breadcrumb{
				.breadcrumb-item + .breadcrumb-item::before{
					content:"|";
				}
				.breadcrumb-item{
					a{
						color:#616161;
						text-decoration:none;
						font-size:12px;
						h5{
							font-size: 18px;
						}
						&:hover{
							color:$xm-orange;
						}
					}
				}
				button{
					background: $xm-orange;
					color:#fff;
				}
			}
			.breadcrumb.float-right{
				.breadcrumb-item + .breadcrumb-item::before{
					content:"|";
					color:#eee;
				}
				.breadcrumb-item{
					a{
						font-size:14px;
						color:#616161;
						text-decoration:none;
						&:hover{
							color:&xm-orange;
						}
					}
				}
				button{
					font-size:12px;
					background: $xm-orange;
					color:#fff;
				}
			}
		}
	}
}